<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
    <form action="/board/save" method="post">
        writer: <input type="text" name="boardWriter"> <br>
        password: <input type="text" name="boardPassword"> <br>
        title: <input type="text" name="boardTitle"> <br>
        content: <textarea name="boardContent" cols="30" rows="10"></textarea> <br>
        <input type="hidden" name="boardHits" value="0">
        <input type="submit" value="글작성">
    </form>
</body>
</html>